<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.assafdev.superv</string>
	<key>connections</key>
	<dict>
		<key>62092417-8D51-4E9D-8E23-8D9B57D7748C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5DE55FB-77C1-49B9-9A08-C092A352F0C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6992690F-8E23-4CE1-AFD2-74C4A1113E41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C61DC08A-3BCA-472C-AF29-4CDDAE66E0C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>749C095F-4B17-4AEC-B023-9AAEACC16695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FE46997-9516-4666-88CF-CBBDE39CF4B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FE46997-9516-4666-88CF-CBBDE39CF4B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62092417-8D51-4E9D-8E23-8D9B57D7748C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>990D3DF3-E50C-4669-9ED3-B238FDEF7CAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5DE55FB-77C1-49B9-9A08-C092A352F0C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A42243F-6083-4114-AA05-1CC37D1205E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6DA3E2B-EDDF-4B9E-9F02-CB8F31AB59C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6DA3E2B-EDDF-4B9E-9F02-CB8F31AB59C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>990D3DF3-E50C-4669-9ED3-B238FDEF7CAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C61DC08A-3BCA-472C-AF29-4CDDAE66E0C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>749C095F-4B17-4AEC-B023-9AAEACC16695</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5DE55FB-77C1-49B9-9A08-C092A352F0C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60F87388-AF2B-401E-8408-11C9298B2A09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Assaf Shalin</string>
	<key>description</key>
	<string>Supervisor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Supervisor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$REPOSITORY_PATH"
{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C61DC08A-3BCA-472C-AF29-4CDDAE66E0C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62092417-8D51-4E9D-8E23-8D9B57D7748C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>env</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking Processes...</string>
				<key>script</key>
				<string>SCRIPT_PATH=`pwd`/filter.rb
ruby "$SCRIPT_PATH"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./filter.rb</string>
				<key>subtext</key>
				<string>Monitor Dev Env</string>
				<key>title</key>
				<string>Monitor Development Enviorment</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6992690F-8E23-4CE1-AFD2-74C4A1113E41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7FE46997-9516-4666-88CF-CBBDE39CF4B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>749C095F-4B17-4AEC-B023-9AAEACC16695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>git reset --hard
git pull</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5DE55FB-77C1-49B9-9A08-C092A352F0C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>60F87388-AF2B-401E-8408-11C9298B2A09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$REPOSITORY_PATH"
/usr/local/bin/supervisorctl stop all
pkill -f supervisord</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6DA3E2B-EDDF-4B9E-9F02-CB8F31AB59C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>envkill</string>
				<key>subtext</key>
				<string>Kill development enviorment</string>
				<key>text</key>
				<string>Kill Development Enviorment</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9A42243F-6083-4114-AA05-1CC37D1205E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Supervisor and its subprocesses are now stopped</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>990D3DF3-E50C-4669-9ED3-B238FDEF7CAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>60F87388-AF2B-401E-8408-11C9298B2A09</key>
		<dict>
			<key>xpos</key>
			<integer>1410</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>62092417-8D51-4E9D-8E23-8D9B57D7748C</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6992690F-8E23-4CE1-AFD2-74C4A1113E41</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>749C095F-4B17-4AEC-B023-9AAEACC16695</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>7FE46997-9516-4666-88CF-CBBDE39CF4B8</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>990D3DF3-E50C-4669-9ED3-B238FDEF7CAD</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>9A42243F-6083-4114-AA05-1CC37D1205E5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B6DA3E2B-EDDF-4B9E-9F02-CB8F31AB59C4</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>C61DC08A-3BCA-472C-AF29-4CDDAE66E0C7</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F5DE55FB-77C1-49B9-9A08-C092A352F0C6</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>REPOSITORY_PATH</key>
		<string>/Users/assaf/repos/web-app</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://assafdev.mobi</string>
</dict>
</plist>
